.env
all_users.csv
__pycache__
interaction_net/storages/users.csv
interaction_net/storages/grounds.csv
interaction_net/storages/schedules.csv
interaction_net/images
interaction_net/__pycache__
chromedriver
